body {
    background: #e5e5e5;
    font-family: Georgia, serif;
}

.paper {
    width: 900px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border: 2px solid black;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 8px solid black;
    padding: 10px 0;
}

.explore {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
    border-style: double ;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: bold;
    background-color: black;
    border-style: groove;
    border-top-width: 15px;
    border-top-color:rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 15px;
    border-left-width: 15px;
    border-right-width: 15px;
}

.title {
    font-size: 32px;
    font-weight: bold;
}

.headline {
    text-align: center;
    margin: 20px ;
}

.headline h1 {
    font-size: 60px;
    margin: 0;
}

.headline p {
    font-size: 20px;
    margin-top: 10px;
}

.content {
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.column {
    width: 30%;
}

.column h3 {
    font-size: 18px;
    border-bottom: 1px solid black;
}

.image-box {
    width: 40%;
    text-align: center;
}

.image-box img {
    width: 100%;
    border: 2px solid black;
}

.bottom-text {
    border-top: 1px solid black;
    font-size: 14px;
}

.footer {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
    border-style: double ;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: bold;
    background-color: black;
    border-style: groove;
    border-top-width: 15px;
    border-top-color:rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    border-bottom-width: 15px;
    border-left-width: 15px;
    border-right-width: 15px;
    
    
}