body{
  background:#12001c;
  font-family:Verdana;
  margin:0;
}

.main{
  width:380px;
  margin:80px auto;
  background:#1c012b;
  padding:18px;
  border-radius:10px;
  box-shadow:0px 0px 18px #7b2cbf;
  color:#eee;
}


.head{
  text-align:center;
  font-size:22px;
  color:#d6b3ff;
  margin-bottom:15px;
}


.txt{
  width:96%;
  padding:10px;
  border-radius:5px;
  border:none;
  background:#2a043f;
  color:white;
  font-size:20px;
  margin-bottom:15px;
}

.grid{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:10px;
}

.ops{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:10px;
  margin-top:12px;
}

.btn{
  padding:12px;
  background:#a855f7;
  border:none;
  border-radius:5px;
  color:white;
  font-size:16px;
  cursor:pointer;
}

.btn:hover{
  background:#7b2cbf;
}