body{
    font-family: Arial;
    background:white;
}
.main{
    width:700px;
    margin:50px ;
    background:white;
}
.header{
    background:lightblue;
    color:white;
    text-align:center;
    padding:15px;
    font-size:22px;
}
.section{
    padding:20px;
}
img{
    width:150px;
}
.box{
    background:white;
    padding:15px;
    margin:15px;
    border-radius:8px;
}
.f{
    background:lightblue;
    color:white;
    text-align:center;
    padding:10px;
}